* {
    font-family: "Roboto", sans-serif;
}

.header {
    background: #1f2937;
    color: #F9FAF8;

}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar-left {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar-right {
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    flex-direction: row;

}

a {
    color: white;
    text-decoration: none;
  }

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.subtext {
    font-size: 18px;
    color: #F9FAF8;
    width: 450px;
}

.button1 {
    cursor: pointer;
    padding: 4px 20px;
    border-radius: 6px;
    border: none;
    background: #3882F6;
    color: #F9FAF8;
    width: 100px;
  }
  
  .placeholder {
    height: 160px;
    width: 400px;
    background: rgb(129, 124, 140);
    display: flex;
    align-items: center;
    justify-content: center;
}