body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;

}

.header {
  background: #1f2937;
  color: #F9FAF8;
  height: 45px;
}

.container1 {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  font-size: 14px;
  font-weight: bold;
  color: #F9FAF8;
}

.links {
  display: flex;
  gap: 20px;
}

li {
  list-style-type: none;
  font-size: 18px;
  background-color: #1f2937;
}

a {
  color: white;
  text-decoration: none;
}

.container2 {
background: #1f2937;
color: #F9FAF8;
display: block;
block-size: auto;



}

.hero {
font-size: 48px;
font-weight: bold;
}

.subtext {

}






.placeholder {
    
    height: 140px;
    width: 350px;
    background: rgb(129, 124, 140);
    margin-left: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button1 {
    cursor: pointer;
    padding: 4px 20px;
    border-radius: 6px;
    border: none;
    background: #3882F6;
    color: #F9FAF8;
    width: 100px;
  }




.body1 {
  background: #F9FAF8;
  padding: 25px;

}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;

}

.box-1 {
    height: 100px;
    width: 90px;
    background-color: #F9FAF8;
    border: 2px #3882F6;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
}

.box-2 {
    height: 100px;
    width: 90px;
    background-color: #F9FAF8;
    border: 2px #3882F6;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
}

.box-3 {
    height: 100px;
    width: 90px;
    background-color: #F9FAF8;
    border: 2px #3882F6;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
}

.box-4 {
    height: 100px;
    width: 90px;
    background-color: #F9FAF8;
    border: 2px #3882F6;
    border-width: 2px;
    border-style: solid;
    border-radius: 12px;
}

.body2 {
    background: #E5E7EB;
    color:black;
    font-style: #1F2937;
}
.button2 {
  cursor: pointer;
  padding: 4px 20px;
  border-radius: 6px;
  border: none;
  background: #3882F6;
  color: #F9FAF8;
  width: 100px;
}

.body3 {
    background: #F9FAF8;
    color: #F9FAF8;
}

.blue-box {
    background: #3882F6;

}

.footer {
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: #F9FAF8;
}