body {
  
}

.header {
  height: 200;
  background: #1f2937;
  color: white
}

li {
  list-style-type: none;

}

a {
  color: white;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 4px 20px;
  border-radius: 8px;
  border: none;
  background: #3882F6;
  color: white;
}