body {
  font-family: Arial, Helvetica, sans-serif;

}

.header {
  height: 200;
  background: #1f2937;
  color: #F9FAF8;
  
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.logo {
  font-size: 24px;
  padding: 4px 150px;
  color: #F9FAF8;
}

li {
  list-style-type: none;
  font-size: 18px;
}

a {
  color: white;
  text-decoration: none;
}

.body1 {
    display: flex;
    justify-content: center;
}

.container2 {
   align-items: center;

}

button {
  cursor: pointer;
  padding: 4px 20px;
  border-radius: 6px;
  border: none;
  background: #3882F6;
  color: #F9FAF8;
  width: 100px;
}

.body1 {
  background: #F9FAF8;

}